<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>
<WidgetData name="Trim metal">
    <HotspotData label="None" type="2">
        <XMLBitmapUtil>file:1.png</XMLBitmapUtil>
        <AbsObjectData alpha="255" anchorType="4" left="0.0" rotate="0.0" top="0.0" />
    </HotspotData>
    <BackgroundData color="-1" scale="3">
        <AbsRadiusData radious="0">
            <AbsOutlineData alpha="255" color="-16777216" width="0.0">
                <AbsWidthHeightData height="426.0" width="360.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="0" anchorType="4" left="0.0" rotate="0.0" top="0.0" />
                    </AbsShadowData>
                </AbsWidthHeightData>
            </AbsOutlineData>
        </AbsRadiusData>
    </BackgroundData>
    <ImageData reverseLR="1" reverseUD="1">
        <XMLBitmapUtil>file:2.png</XMLBitmapUtil>
        <AbsOutlineData alpha="255" color="-16777216" width="0.0">
            <AbsWidthHeightData height="426.0" width="360.0">
                <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                    <AbsObjectData alpha="255" anchorType="4" left="180.0" rotate="0.0"
                        top="213.0" />
                </AbsShadowData>
            </AbsWidthHeightData>
        </AbsOutlineData>
    </ImageData>
    <CircularArcClockData arcBezelAlpha="255" arcBezelBorder="200" arcBezelColor="-12367276"
        arcBezelRadius="191" arcHourAlpha="255" arcHourBorder="200" arcHourColor="-3276778"
        arcHourRadius="191" arcMinuteAlpha="0" arcMinuteBorder="118" arcMinuteColor="-16776961"
        arcMinuteRadius="85">
        <ImageData reverseLR="1" reverseUD="1">
            <AbsOutlineData alpha="255" color="-16777216" width="0.0">
                <AbsWidthHeightData height="290.0" width="290.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="255" anchorType="4" left="180.0" rotate="0.0"
                            top="213.0" />
                    </AbsShadowData>
                </AbsWidthHeightData>
            </AbsOutlineData>
        </ImageData>
    </CircularArcClockData>
    <ImageData reverseLR="1" reverseUD="1">
        <XMLBitmapUtil>file:3.png</XMLBitmapUtil>
        <AbsOutlineData alpha="255" color="-16777216" width="0.0">
            <AbsWidthHeightData height="426.0" width="360.0">
                <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                    <AbsObjectData alpha="255" anchorType="4" left="180.0" rotate="0.0"
                        top="213.0" />
                </AbsShadowData>
            </AbsWidthHeightData>
        </AbsOutlineData>
    </ImageData>
    <DigitalClockSeparatorTextData>
        <TextData align="LEFT">
            <AbsFontData caseType="0" color="-3211242" font="Roboto-Thin">
                <AbsSizeData size="80.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="255" anchorType="4" left="180.0" rotate="0.0"
                            top="217.0" />
                    </AbsShadowData>
                </AbsSizeData>
            </AbsFontData>
        </TextData>
    </DigitalClockSeparatorTextData>
    <DigitalClockHourNumber_00_12Data footer="" header="">
        <TextData align="LEFT">
            <AbsFontData caseType="0" color="-3211242" font="Roboto-Thin">
                <AbsSizeData size="80.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="255" anchorType="4" left="130.0" rotate="0.0"
                            top="212.0" />
                    </AbsShadowData>
                </AbsSizeData>
            </AbsFontData>
        </TextData>
    </DigitalClockHourNumber_00_12Data>
    <DigitalClockMinuteNumber_00_60_Data footer="" header="">
        <TextData align="LEFT">
            <AbsFontData caseType="0" color="-3211242" font="Roboto-Thin">
                <AbsSizeData size="80.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="255" anchorType="4" left="231.0" rotate="0.0"
                            top="212.0" />
                    </AbsShadowData>
                </AbsSizeData>
            </AbsFontData>
        </TextData>
    </DigitalClockMinuteNumber_00_60_Data>
    <BatteryTextData footer="" header="">
        <TextData align="LEFT">
            <AbsFontData caseType="0" color="-3211242" font="RobotoCondensed-Bold">
                <AbsSizeData size="20.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="255" anchorType="4" left="180.0" rotate="0.0"
                            top="305.0" />
                    </AbsShadowData>
                </AbsSizeData>
            </AbsFontData>
        </TextData>
    </BatteryTextData>
    <TextData align="LEFT">BATT(%)
        <AbsFontData caseType="0" color="-3211242" font="RobotoCondensed-Bold">
            <AbsSizeData size="12.0">
                <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                    <AbsObjectData alpha="255" anchorType="4" left="182.0" rotate="0.0"
                        top="323.0" />
                </AbsShadowData>
            </AbsSizeData>
        </AbsFontData>
    </TextData>
    <ImageData reverseLR="1" reverseUD="1">
        <XMLBitmapUtil>file:4.png</XMLBitmapUtil>
        <AbsOutlineData alpha="255" color="-16777216" width="0.0">
            <AbsWidthHeightData height="426.0" width="360.0">
                <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                    <AbsObjectData alpha="255" anchorType="4" left="180.0" rotate="0.0"
                        top="213.0" />
                </AbsShadowData>
            </AbsWidthHeightData>
        </AbsOutlineData>
    </ImageData>
</WidgetData>