<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>
<WidgetData name="Simplism clock">
    <HotspotData label="None" type="2">
        <XMLBitmapUtil>file:1.png</XMLBitmapUtil>
        <AbsObjectData alpha="255" anchorType="4" left="0.0" rotate="0.0" top="0.0" />
    </HotspotData>
    <BackgroundData color="-1" scale="3">
        <AbsRadiusData radious="0">
            <AbsOutlineData alpha="255" color="-16777216" width="0.0">
                <AbsWidthHeightData height="319.0" width="360.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="0" anchorType="4" left="0.0" rotate="0.0" top="0.0" />
                    </AbsShadowData>
                </AbsWidthHeightData>
            </AbsOutlineData>
        </AbsRadiusData>
    </BackgroundData>
    <AnalogClockData>
        <bezel>file:2.png</bezel>
        <index>file:3.png</index>
        <hour>file:4.png</hour>
        <minute>file:5.png</minute>
        <ImageData reverseLR="1" reverseUD="1">
            <AbsOutlineData alpha="255" color="-16777216" width="0.0">
                <AbsWidthHeightData height="400.0" width="400.0">
                    <AbsShadowData color="-16777216" dx="0.0" dy="0.0" radious="0.0">
                        <AbsObjectData alpha="255" anchorType="4" left="180.0" rotate="0.0"
                            top="159.5" />
                    </AbsShadowData>
                </AbsWidthHeightData>
            </AbsOutlineData>
        </ImageData>
    </AnalogClockData>
</WidgetData>